name: $(Build.BuildId)

trigger:
 branches:
   include:
     - master/TestFixtureInitializer

variables:
- group: 'PipelineVariables'

stages:  
  - stage: Build
    jobs:
      - job: Build
        timeoutInMinutes: 360
        pool: TestAutomationExamples
        steps:
          ### Initialize Container
          - template: ./Templates/initialize-container.yml
            parameters:
              forceCreateImage: $(forceCreateImage)
              licenseUrl: $(LuxBeheerBcDevLicense)

          ### install specific test apps
          - task: ALOpsAppPublish@1
            displayName: 'ALOPS - Install specific test app(s)' 
            inputs:
              usedocker: true
              installaltesttool: true
              skip_verification: true
              install_al_app_names: |
                Tests-Bank
                Tests-Cash Flow
                Tests-Cost Accounting
                Tests-CRM integration
                Tests-Data Exchange
                Tests-Dimension
                Tests-ERM
                Tests-Fixed Asset
                Tests-General Journal
                Tests-Graph
                Tests-Integration
                Tests-Invoicing
                Tests-Job
                Tests-Local
                Tests-Marketing
                Tests-Misc
                Tests-Monitor Sensitive Fields
                Tests-Permissions
                Tests-Physical Inventory
                Tests-Prepayment
                Tests-Rapid Start
                Tests-Report
                Tests-Resource
                Tests-Reverse
                Tests-SCM
                Tests-SMB
                Tests-SMTP
                Tests-TestLibraries
                Tests-Upgrade
                Tests-User
                Tests-VAT
                Tests-Workflow

          ### Compile and Cleanup
          - template: ./Templates/compile-publish.yml
            parameters:
              navAppVersion: '1.0.[yyyyWW].*'
              runTestSuite: true
              disabledTests: '$(Build.SourcesDirectory)/TestFixtureInitializer/Test/DisabledTests/DisabledTests.json'
              createSqlbackup: '$(createSqlBackup)'